/* extra large screens 1201px+ */
@media only screen and (min-width: 1201px) {
body {
    background-color: #ffffff;
    background-image: url(Structure/Background.png);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}
.rectangle2 {
    width: fill;
    height: 4px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.myName {
    display: flex;
    flex-direction: row;
    color: #38516d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    align-items: center;
}
.headerContent {
    display: flex;
    flex-direction: row;
    color: #38516d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center; 
}
.dgLogo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding-right: 201.72px;
    padding-bottom: 6px;
}
.gpIntro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 96px;
    margin-bottom: 64px;
    gap: 64px;
    flex-wrap: wrap;
}
h1 {
    display: flex;
    flex-direction: row;
    color: #38516d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 0;
    margin-right: auto;
    margin-top: 64px;
    background-color: #ffffffee;
}
h2 {
    display: flex;
    flex-direction: row;
    color: #38516d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 0;
    margin-right: auto;
    margin-top: 64px;
    background-color: #ffffffee; 
}
.infoContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 444px;
}
.imgCon {
    display: flex;
    margin-right: auto;
    border-color: #ffffff;
    max-width: 480px;
}
.bgImg {
    display: flex;
    width: 100%;
    flex-shrink: inherit;
    border-radius: 4px;
}
.bgPara {
    font-size: 24px;
    color: #38516d;
    padding-top: 24px;
    background-color: #ffffffee;
}
.gp-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 102px;
    max-width: 980px;
}
.gp-case-textbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}
.gp-img-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    gap: 16px;
    margin-right: auto;
    margin-left: auto;
}
.gp-img-container-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
    gap: 40px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    flex-wrap: wrap;
}
.gpCaption {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}
.gp-cap-container {
    width: fit-content;
}
.gp-case-img {
    display: flex;
    max-width: 864px;
    min-width: 340px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.gp-case-img-b {
    display: flex;
    min-width: 324px;
    border-radius: 4px;
}
.gp-case-img-l {
    display: flex;
    width: max-content;
    height: auto;
    margin-top: 16px;
    border-radius: 4px;
}
.gp-case-img-w {
    display: flex;
    width:max-content;
    height: auto;
}
.gpPara {
    font-size: 20px;
    color: #38516d;
    padding-top: 24px;
    background-color: #ffffffee;
}
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
    .pageLink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 280px;
        height: 40px;
        margin: auto;
        font-size: 24px;
        color: #2ddec0;
        border-radius: 16px;
        background-color: #38516d;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .pageLink:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 280px;
        height: 40px;
        margin: auto;
        font-size: 24px;
        color: #2ddec0;
        border-radius: 16px;
        background-color: #148787;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);   
    }
.rectangle {
    width: fill;
    height: 4px;
    background: #2ddec0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 102px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 27px;
    flex-wrap: wrap;
    padding-top: 64px;
}
.rectangleF {
    width: fill;
    height: 4px;
    background: #38516d;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 64px;
}
li {
    list-style: none;
}
a {
    color: #38516d;
    text-decoration: none;
}
.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 96px;
    margin-right: 96px;
}
.nav-branding {
    font-size: 2rem;
}
.nav-link {
    transition: 0.7s ease;
}
.nav-item :hover {
    font-size: 24px;
    color: #A1C0DE;
    text-decoration: underline;
    text-decoration-color: #2ddec0;
}
.hamburger {
    display:block;
    cursor: pointer;
}
.bar {
    display:block;
    width: 25px;
    height: 2.5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #38516d;
}
.bar:nth-child(2) {
    background-color: #2ddec0;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #2ddec0;
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #2ddec0;
}
.nav-menu {
    position: fixed;
    right: -100%;
    top: 96px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 216px;
    text-align: center;
    transition: 0.3s;
    border-color: #fafafa;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.nav-item {
    font-size: 24px;
}
.nav-menu.active {
    right: 80px;
}
.rButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #ffffff;
    background-color: #38516d;
    width: 96px;
    height: 96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    border: none;
    outline: none;
    transition: 1s;
    cursor: pointer;
   
}
.rButton:hover {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #ffffff;
    background-color: #9646bc;
    width: 96px;
    height: 96px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    border: none;
    outline: none;
    cursor: pointer;
}
.rBtxt {
    color: #38516d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: none;  
}
}
/* desktops, large screens 1025px-1200px */
@media only screen and (min-width:1025px) and (max-width:1200px) {
    body {
        background-color: #ffffff;
        background-image: url(Structure/Background.png);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .header {
        position: sticky;
        top: 0;
        background-color: #ffffff;
        z-index: 1;
    }
    .rectangle2 {
        width: fill;
        height: 4px;
        background: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }
    .myName {
        display: flex;
        flex-direction: row;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        align-items: center;
    }
    .headerContent {
        display: flex;
        flex-direction: row;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center; 
    }
    .dgLogo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        padding-right: 201.72px;
        padding-bottom: 6px;
    }
    .gpIntro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 96px;
        margin-right: 96px;
        margin-top: 64px;
        margin-bottom: 64px;
        gap: 64px;
        flex-wrap: wrap;
    }
    h1 {
        display: flex;
        flex-direction: row;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-left: 0;
        margin-right: auto;
        margin-top: 64px;
        background-color: #ffffffee;
    }
    h2 {
        display: flex;
        flex-direction: row;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-left: 0;
        margin-right: auto;
        margin-top: 64px;
        background-color: #ffffffee; 
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        /* margin-left: auto; */
        max-width: 684px;
    }
    .imgCon {
        display: flex;
        /* margin-right: auto; */
        border-color: #ffffff;
        /* max-width: 480px; */
        width: 100%;
    }
    .bgImg {
        display: flex;
        /* max-width: 480px; */
        min-width: 250px;
        flex-shrink: inherit;
        border-radius: 4px;
    }
    .bgPara {
        font-size: 24px;
        color: #38516d;
        padding-top: 24px;
        background-color: #ffffffee;
    }
    .gp-content {
        display: flex;
        flex-direction: column;
        margin-left: 96px;
        margin-right: 96px;
        margin-bottom: 102px;
        max-width: 980px;
    }
    .gp-case-textbox {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
    }
    .gp-img-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        gap: 16px;
        margin-right: auto;
        margin-left: auto;
    }
    .gp-img-container-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 48px;
        gap: 40px;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        flex-wrap: wrap;
    }
    .gpCaption {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
    .gp-cap-container {
        width: fit-content;
    }
    .gp-case-img {
        display: flex;
        max-width: 864px;
        min-width: 340px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }
    .gp-case-img-b {
        display: flex;
        min-width: 324px;
        border-radius: 4px;
    }
    .gp-case-img-l {
        display: flex;
        width: max-content;
        height: auto;
        margin-top: 16px;
        border-radius: 4px;
    }
    .gp-case-img-w {
        display: flex;
        width:max-content;
        height: auto;
    }
    .gpPara {
        font-size: 20px;
        color: #38516d;
        padding-top: 24px;
        background-color: #ffffffee;
    }
    * {
        box-sizing:border-box;
        padding: 0;
        margin: 0;
    }
    .pageLink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 280px;
        height: 40px;
        margin: auto;
        font-size: 24px;
        color: #2ddec0;
        border-radius: 16px;
        background-color: #38516d;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .pageLink:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 280px;
        height: 40px;
        margin: auto;
        font-size: 24px;
        color: #2ddec0;
        border-radius: 16px;
        background-color: #148787;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);   
    }
    .rectangle {
        width: fill;
        height: 4px;
        background: #2ddec0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 102px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 27px;
        flex-wrap: wrap;
        padding-top: 64px;
    }
    .rectangleF {
        width: fill;
        height: 4px;
        background: #38516d;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 64px;
    }
    li {
        list-style: none;
    }
    a {
        color: #38516d;
        text-decoration: none;
    }
    .nav-bar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 96px;
        margin-right: 96px;
    }
    .nav-branding {
        font-size: 2rem;
    }
    .nav-link {
        transition: 0.7s ease;
    }
    .nav-item :hover {
        font-size: 24px;
        color: #A1C0DE;
        text-decoration: underline;
        text-decoration-color: #2ddec0;
    }
    .hamburger {
        display:block;
        cursor: pointer;
    }
    .bar {
        display:block;
        width: 25px;
        height: 2.5px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #38516d;
    }
    .bar:nth-child(2) {
        background-color: #2ddec0;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #2ddec0;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #2ddec0;
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 96px;
        gap: 0;
        flex-direction: column;
        background-color: #ffffff;
        width: 216px;
        text-align: center;
        transition: 0.3s;
        border-color: #fafafa;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .nav-item {
        font-size: 24px;
    }
    .nav-menu.active {
        right: 80px;
    }
    .rButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: #ffffff;
        background-color: #38516d;
        width: 96px;
        height: 96px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        border: none;
        outline: none;
        transition: 1s;
        cursor: pointer;
       
    }
    .rButton:hover {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: #ffffff;
        background-color: #9646bc;
        width: 96px;
        height: 96px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        border: none;
        outline: none;
        cursor: pointer;
    }
    .rBtxt {
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: none;  
    }    
}
/* samll screens, laptops 769px-1024px */
@media only screen and (min-width:769px) and (max-width:1024px) {
    body {
        background-color: #ffffff;
        background-image: url(Structure/Background.png);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .header {
        position: sticky;
        top: 0;
        background-color: #ffffff;
        z-index: 1;
    }
    .rectangle2 {
        width: fill;
        height: 4px;
        background: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }
    .myName {
        display: flex;
        flex-direction: row;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        align-items: center;
    }
    .headerContent {
        display: flex;
        flex-direction: row;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
        margin-left: 64px; 
    }
    .dgLogo {
        margin-right: auto;
        margin-left: auto;
        margin-top: 16px;
        padding-right: 201.72px;
        padding-bottom: 6px;
    }
    li {
        list-style: none;
    }
    a {
        color: #38516d;
        text-decoration: none;
    }
    .nav-bar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-branding {
        font-size: 2rem;
    }
    .nav-link {
        transition: 0.7s ease;
    }
    .nav-item :hover {
        font-size: 24px;
        color: #A1C0DE;
        text-decoration: underline;
        text-decoration-color: #2ddec0;
    }
    .hamburger {
        display:block;
        cursor: pointer;
        margin-right: 64px;
    }
    .bar {
        display:block;
        width: 25px;
        height: 2.5px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #38516d;
    }
    .bar:nth-child(2) {
        background-color: #2ddec0;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #2ddec0;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #2ddec0;
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 96px;
        gap: 0;
        flex-direction: column;
        background-color: #ffffff;
        width: 216px;
        text-align: center;
        transition: 0.3s;
        border-color: #fafafa;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .nav-item {
        font-size: 24px;
    }
    .nav-menu.active {
        right: 32px;
    }
    .gpIntro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 64px;
        margin-bottom: 64px;
        gap: 64px;
        flex-wrap: wrap;
    }
    h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        /* margin-left: 0;
        margin-right: auto; */
        margin-top: 16px;
        background-color: #ffffffee;
    }
    h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-left: 0;
        margin-right: auto;
        margin-top: 64px;
        background-color: #ffffffee; 
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        max-width: 624px;
    }
    .imgCon {
        display: flex;
        border-color: #ffffff;
        max-width: 624px;
    }
    .bgImg {
        display: flex;
        width: 90%;
        flex-shrink: inherit;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
    }
    .bgPara {
        font-size: 24px;
        color: #38516d;
        padding-top: 24px;
        margin-left: 32px;
        margin-right: 32px;
        background-color: #ffffffee;
    }
    .gp-content {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        margin-right: 32px;
        /* margin-bottom: 102px; */
        max-width: 980px;
    }
    .gp-case-textbox {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
        margin-right: 16px;
        margin-left: 16px;
    }
    .gp-img-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        gap: 16px;
        margin-right: auto;
        margin-left: auto;
    }
    .gp-img-container-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 48px;
        justify-content: center;
        gap: 40px;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        flex-wrap: wrap;
    }
    .gpCaption {
        display: flex;
        justify-content: center;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 12px;
    }
    .gp-cap-container {
        width: fit-content;
    }
    .gp-case-img {
        display: flex;
        /* width: 90%; */
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }
    .gp-case-img-b {
        display: flex;
        width: 90%;
        border-radius: 4px;
    }
    .gp-case-img-l {
        display: flex;
        width: 90%;
        height: auto;
        margin-top: 16px;
        border-radius: 4px;
    }
    .gp-case-img-w {
        display: flex;
        /* width:90%; */
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }
    .gpPara {
        font-size: 20px;
        color: #38516d;
        padding-top: 24px;
        background-color: #ffffffee;
    }
    * {
        box-sizing:border-box;
        padding: 0;
        margin: 0;
     }
    .pageLink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 280px;
        height: 40px;
        margin: auto;
        font-size: 24px;
        color: #2ddec0;
        border-radius: 16px;
        background-color: #38516d;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .pageLink:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 280px;
        height: 40px;
        margin: auto;
        font-size: 24px;
        color: #2ddec0;
        border-radius: 16px;
        background-color: #148787;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);   
    }
    .rectangle {
        width: fill;
        height: 4px;
        background: #2ddec0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 102px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 27px;
        flex-wrap: wrap;
        padding-top: 32px;
    }
    .rectangleF {
        width: fill;
        height: 4px;
        background: #38516d;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 32px;
    }
    .rButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: #ffffff;
        background-color: #38516d;
        width: 96px;
        height: 96px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        border: none;
        outline: none;
        transition: 1s;
        cursor: pointer;
       
    }
    .rButton:hover {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: #ffffff;
        background-color: #9646bc;
        width: 96px;
        height: 96px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        border: none;
        outline: none;
        cursor: pointer;
    }
    .rBtxt {
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: none;  
    }    
}
/* tablets 481px-768px */
@media only screen and (min-width:481px) and (max-width:768px) {
    body {
        background-color: #ffffff;
        background-image: url(Structure/Background.png);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .header {
        position: sticky;
        top: 0;
        background-color: #ffffff;
        z-index: 1;
    }
    .rectangle2 {
        width: fill;
        height: 4px;
        background: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }
    .myName {
        display: flex;
        flex-direction: row;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        align-items: center;
    }
    .headerContent {
        display: none;
        flex-direction: row;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center; 
    }
    .dgLogo {
        margin-left: 32px;
        margin-right: auto;
        margin-top: 16px;
        /* padding-right: 201.72px; */
        padding-bottom: 6px;
    }
    li {
        list-style: none;
    }
    a {
        color: #38516d;
        text-decoration: none;
    }
    .nav-bar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-branding {
        font-size: 2rem;
    }
    .nav-link {
        transition: 0.7s ease;
    }
    .nav-item :hover {
        font-size: 24px;
        color: #A1C0DE;
        text-decoration: underline;
        text-decoration-color: #2ddec0;
    }
    .hamburger {
        display:block;
        cursor: pointer;
        margin-right: 32px;
    }
    .bar {
        display:block;
        width: 25px;
        height: 2.5px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #38516d;
    }
    .bar:nth-child(2) {
        background-color: #2ddec0;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #2ddec0;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #2ddec0;
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 96px;
        gap: 0;
        flex-direction: column;
        background-color: #ffffff;
        width: 216px;
        text-align: center;
        transition: 0.3s;
        border-color: #fafafa;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .nav-item {
        font-size: 24px;
    }
    .nav-menu.active {
        right: 16px;
    }
    .gpIntro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 64px;
        margin-bottom: 64px;
        gap: 64px;
        flex-wrap: wrap;
    }
    h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        /* margin-left: 0;
        margin-right: auto; */
        margin-top: 16px;
        background-color: #ffffffee;
    }
    h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        /* margin-left: 0;
        margin-right: auto; */
        margin-top: 64px;
        background-color: #ffffffee; 
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        max-width: 624px;
    }
    .imgCon {
        display: flex;
        border-color: #ffffff;
        max-width: 624px;
    }
    .bgImg {
        display: flex;
        width: 90%;
        flex-shrink: inherit;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
    }
    .bgPara {
        font-size: 20px;
        color: #38516d;
        padding-top: 24px;
        margin-left: 32px;
        margin-right: 32px;
        background-color: #ffffffee;
    }
    .gp-content {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        margin-right: 32px;
        /* margin-bottom: 102px; */
        max-width: 980px;
    }
    .gp-case-textbox {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
        margin-right: 16px;
        margin-left: 16px;
    }
    .gp-img-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        gap: 16px;
        margin-right: auto;
        margin-left: auto;
    }
    .gp-img-container-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        gap: 40px;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        flex-wrap: wrap;
    }
    .gpCaption {
        display: flex;
        justify-content: center;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 12px;
    }
    .gp-cap-container {
        width: fit-content;
    }
    .gp-case-img {
        display: flex;
        /* width: 90%; */
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }
    .gp-case-img-b {
        display: flex;
        width: 90%;
        border-radius: 4px;
    }
    .gp-case-img-l {
        display: flex;
        width: 90%;
        height: auto;
        margin-top: 16px;
        border-radius: 4px;
    }
    .gp-case-img-w {
        display: flex;
        /* width:90%; */
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }
    .gpPara {
        font-size: 18px;
        color: #38516d;
        padding-top: 24px;
        background-color: #ffffffee;
    }
    * {
        box-sizing:border-box;
        padding: 0;
        margin: 0;
     }
    .pageLink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 280px;
        height: 40px;
        margin: auto;
        font-size: 24px;
        color: #2ddec0;
        border-radius: 16px;
        background-color: #38516d;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .pageLink:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 280px;
        height: 40px;
        margin: auto;
        font-size: 24px;
        color: #2ddec0;
        border-radius: 16px;
        background-color: #148787;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);   
    }
    .rectangle {
        width: fill;
        height: 4px;
        background: #2ddec0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 102px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
        padding-top: 32px;
    }
    .rectangleF {
        width: fill;
        height: 4px;
        background: #38516d;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 32px;
    }
    .rButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: #ffffff;
        background-color: #38516d;
        width: 96px;
        height: 96px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        border: none;
        outline: none;
        transition: 1s;
        cursor: pointer;
       
    }
    .rButton:hover {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: #ffffff;
        background-color: #9646bc;
        width: 96px;
        height: 96px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        border: none;
        outline: none;
        cursor: pointer;
    }
    .rBtxt {
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: none;  
    }
}
/* samllest, mobile 320px-480px */
@media only screen and (min-width:324px) and (max-width:480px) {
    body {
        background-color: #ffffff;
        background-image: url(Structure/Background.png);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .header {
        position: sticky;
        top: 0;
        background-color: #ffffff;
        z-index: 1;
    }
    .rectangle2 {
        width: fill;
        height: 4px;
        background: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }
    .myName {
        display: flex;
        flex-direction: row;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        align-items: center;
    }
    .headerContent {
        display: none;
        flex-direction: row;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center; 
    }
    .dgLogo {
        margin-left: 16px;
        margin-right: auto;
        margin-top: 16px;
        /* padding-right: 201.72px; */
        padding-bottom: 6px;
    }
    li {
        list-style: none;
    }
    a {
        color: #38516d;
        text-decoration: none;
    }
    .nav-bar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-branding {
        font-size: 2rem;
    }
    .nav-link {
        transition: 0.7s ease;
    }
    .nav-item :hover {
        font-size: 24px;
        color: #A1C0DE;
        text-decoration: underline;
        text-decoration-color: #2ddec0;
    }
    .hamburger {
        display:block;
        cursor: pointer;
        margin-right: 16px;
    }
    .bar {
        display:block;
        width: 25px;
        height: 2.5px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #38516d;
    }
    .bar:nth-child(2) {
        background-color: #2ddec0;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #2ddec0;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #2ddec0;
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 96px;
        gap: 0;
        flex-direction: column;
        background-color: #ffffff;
        width: 216px;
        text-align: center;
        transition: 0.3s;
        border-color: #fafafa;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .nav-item {
        font-size: 24px;
    }
    .nav-menu.active {
        right: 8px;
    }
    .gpIntro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 64px;
        margin-bottom: 64px;
        gap: 64px;
        flex-wrap: wrap;
    }
    h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        /* margin-left: 0;
        margin-right: auto; */
        margin-top: 16px;
        background-color: #ffffffee;
    }
    h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        /* margin-left: 0;
        margin-right: auto; */
        margin-top: 64px;
        background-color: #ffffffee; 
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        max-width: 480px;
    }
    .imgCon {
        display: flex;
        margin-right: 16px;
        margin-left: 16px;
        border-color: #ffffff;
        max-width: 480px;
    }
    .bgImg {
        display: flex;
        width: 90%;
        flex-shrink: inherit;
        border-radius: 4px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .bgPara {
        font-size: 18px;
        color: #38516d;
        padding-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
        background-color: #ffffffee;
    }
    .gp-content {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        /* margin-bottom: 102px; */
        max-width: 980px;
    }
    .gp-case-textbox {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
        margin-right: 16px;
        margin-left: 16px;
    }
    .gp-img-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        gap: 16px;
        margin-right: 16px;
        margin-left: 16px;
    }
    .gp-img-container-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 48px;
        gap: 40px;
        margin-right: 16px;
        margin-left: 16px;
        align-items: center;
        flex-wrap: wrap;
    }
    .gpCaption {
        display: flex;
        justify-content: center;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 12px;
    }
    .gp-cap-container {
        width: fit-content;
    }
    .gp-case-img {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }
    .gp-case-img-b {
        display: flex;
        width: 90%;
        border-radius: 4px;
    }
    .gp-case-img-l {
        display: flex;
        width: 90%;
        height: auto;
        margin-top: 16px;
        border-radius: 4px;
    }
    .gp-case-img-w {
        display: flex;
        width:100%;
        height: auto;
        margin-left: 16px;
        margin-right: 16px;
    }
    .gpPara {
        font-size: 18px;
        color: #38516d;
        padding-top: 24px;
        background-color: #ffffffee;
    }
    * {
        box-sizing:border-box;
        padding: 0;
        margin: 0;
     }
     .pageLink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 280px;
        height: 40px;
        margin: auto;
        font-size: 24px;
        color: #2ddec0;
        border-radius: 16px;
        background-color: #38516d;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .pageLink:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 280px;
        height: 40px;
        margin: auto;
        font-size: 24px;
        color: #2ddec0;
        border-radius: 16px;
        background-color: #148787;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .rectangle {
        width: fill;
        height: 4px;
        background: #2ddec0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 102px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 16px;
        flex-wrap: wrap;
        padding-top: 32px;
    }
    .rectangleF {
        width: fill;
        height: 4px;
        background: #38516d;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 32px;
    }
    .rButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: #ffffff;
        background-color: #38516d;
        width: 96px;
        height: 96px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        border: none;
        outline: none;
        transition: 1s;
        cursor: pointer;
       
    }
    .rButton:hover {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: #ffffff;
        background-color: #9646bc;
        width: 96px;
        height: 96px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        border: none;
        outline: none;
        cursor: pointer;
    }
    .rBtxt {
        color: #38516d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: none;  
    }    
}