head {
    font-family:Tahoma, Helvetica, sans-serif !important;
}
body {
    font-family: Tahoma, Helvetica, sans-serif !important;
    background-color: #ffffff;
    background-image: url(Structure/Background.png) ;
}
a {
    text-decoration: none;
}
.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}
.headerContent {
    display: flex;
    flex-direction: row;
    color: #6F869E;
    font-family: Tahoma;
    font-size: 40px !important;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center; 
}
.dgLogo {
    margin-left: auto;
    margin-right: auto;
    padding-right: 180px;
    margin-top: 16px;
}
img, svg {
    vertical-align:baseline;
}
.myName {
    display: flex;
    flex-direction: row;
    color: #6F869E;
    font-family: Tahoma;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    align-items: center;
}
li {
    list-style: none;
}
a {
    color: #6F869E !important;
    text-decoration: none !important;
    font-size: 24px !important;
}
.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 96px;
    margin-right: 96px;
}
/* .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
} */
.nav-branding {
    font-size: 2rem;
}
.nav-link {
    transition: 0.7s ease;
}
.nav-item :hover {
    font-size: 24px;
    color: #A1C0DE !important;
    text-decoration: underline !important;
}
.hamburger {
    display:block;
    cursor: pointer;
    background: none !important;
}
.bar {
    display:block;
    width: 25px;
    height: 2.5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #6F869E;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu {
    position: fixed;
    right: -100%;
    top: 96px;
    gap: 0 !important;
    flex-direction: column;
    background-color: #ffffff !important;
    width: 216px;
    text-align: center;
    transition: 0.3s;
    border-color: #fafafa;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding:0 !important;
}
.nav-item {
    font-size: 24px;
    font-family: tahoma;
    height: 29px;
}
.nav-menu.active {
    right: 80px;
}
.navBar {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    width: 571px;
    align-items: flex-start;
    gap: 32px;
    margin-top: 68px;
}
.menulabel {
    display: flex;
    color: #6F869E;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 51px;
    min-width: 149px;
    font-size: 32px;
    transition: .5s;

}
.menulabel:hover {
    display: flex;
    color: #96b6d6;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    width: auto;
    height: 51px;
    min-width: 149px;
    font-size: 32px;
    transition: .5s;
    cursor: pointer;
}
.contactme {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
    margin-right: 96px;
    margin-top: 28;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    height: 55px;
    width: 246px;
    background-color: #6f869e;
    color: #ffffff;
    font-size: 32px;
    font-weight: 300;
    border-radius: 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: .5s;
    border: none;
    outline: none;
    margin-right: 96px;
    margin-left:auto;
    cursor: pointer;
}
.button:hover {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    height: 55px;
    width: 246px;
    background-color: #96b6d6;
    color: #ffffff;
    font-size: 32px;
    font-weight: 300;
    text-decoration: underline;
    border-radius: 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: .5s;
    border: none;
    outline: none;
    cursor: pointer;  
}
.hero {
    display: flex;
    padding: 0px 94px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 133px;
    flex-wrap: wrap;
    margin-top: 113px;

}
.heroLeft {
    display: flex;
    width: 536.5px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.h-structure {
    display: flex;
    flex-direction: row;
    gap: 37px;
}
.headshot {
    display: flex;
    justify-content: center;
    margin-right: auto;
}
.resume {
    display: flex;
    width: auto;
    align-items: center;
    color: #7a7a7a;
}
.resumeTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: #7A7A7A;
}
.rButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #ffffff;
    background-color: #6F869E;
    width: 96px;
    height: 96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    border: none;
    outline: none;
    transition: 1s;
   
}
.rButton:hover {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #ffffff;
    background-color: #7A7A7A;
    width: 96px;
    height: 96px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    border: none;
    outline: none;
}
.rbtxt {
    color: #6F869E;
    font-family: Tahoma;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}
.heroRight {
    width: 605.5px;
    height: 408px;
}
.introText {
    display: flex;
    flex-direction: column;
}
.whoMe {
    flex: 1 0 0;
    color: #7A7A7A;
    font-family: Tahoma;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.yeahMe {
    align-self: stretch;
    color: #7A7A7A;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.divideOne {
    padding-bottom: 36px;
}
.rectangle {
    width: fill;
    height: 4px;
    background: #BCD2EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 102px;
}
.rectangle2 {
    width: fill;
    height: 4px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.sections {
    color: #6F869E;
    text-align: center;
    font-family: Tahoma;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 40px;
    padding-top: 10px;
}
.myWork {
    padding-bottom: 32px;
}
.goldiePapi {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    flex-wrap: wrap;

}
.gpLeft {
    width: 684px;
    height: 685px;
    flex-shrink: 0;
    border-radius: 64px 0px 0px 0px;
    background: #28233E;
}
.gpCase {
    display: flex;
    width: 408px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    left: 138px;
    top: 228px;
}
.gpcaseTitle {
    color: #ffffff;
    font-family: Tahoma;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0;
}
.gpInfo {
    width: 408px;
    color: #EBEBEB;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.gpButt {
    display: flex;
    padding: 8px 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #423A66;
    border: none;
    outline: none;
    
}
.gpButt:hover {
    display: flex;
    padding: 8px 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #8F42B8;
    text-decoration: underline;
    border: none;
    outline: none;
    transition: .5s;
}
.gpRight {
    display: flex;
    width: 684px;
    height: 685px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 0px 64px 0px;
    background: #8F42B8;
}
.ecycleBin {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    padding-top: 102px;
}
.ecLeft {
    width: 684px;
    height: 685px;
    flex-shrink: 0;
    border-radius: 64px 0px 0px 0px;
    background: #4e7d77;
}
.ecCase {
    display: flex;
    width: 408px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    left: 138px;
    top: 228px;
}
.eccaseTitle {
    color: #ffffff;
    font-family: Tahoma;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0;
}
.ecInfo {
    width: 408px;
    color: #EBEBEB;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ecButt {
    display: flex;
    padding: 8px 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    color: #4e7d77;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #cde1c5;
    border: none;
    outline: none;
    
}
.ecButt:hover {
    display: flex;
    padding: 8px 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    color: #4e7d77;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #fcd8e6;
    text-decoration: underline;
    border: none;
    outline: none;
    transition: .5s;
}
.ecRight {
    display: flex;
    width: 684px;
    height: 685px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 0px 64px 0px;
    background: #cde1c5;
}
.bounceLeft {
    width: 684px;
    height: 685px;
    flex-shrink: 0;
    border-radius: 64px 0px 0px 0px;
    background: #004cbd;
}
.bounceCase {
    display: flex;
    width: 408px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    left: 138px;
    top: 228px;
}
.bouncecaseTitle {
    color: #ffffff;
    font-family: Tahoma;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0;
}
.bounceInfo {
    width: 408px;
    color: #EBEBEB;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bounceButt {
    display: flex;
    padding: 8px 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #ffa015;
    border: none;
    outline: none;
    
}
.bounceButt:hover {
    display: flex;
    padding: 8px 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #b06b06;
    text-decoration: underline;
    border: none;
    outline: none;
    transition: .5s;
}
.bounceRight {
    display: flex;
    width: 684px;
    height: 685px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 0px 64px 0px;
    background: #1f9de2;
}
.bImage1 {
    max-width: 50%;
    height: auto;
    position: relative;
    display: flex;
    margin: auto;
}
p {
    display: flex;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color:#7A7A7A;
    padding-left: 96px;
    padding-right: 96px;
}
.skillsSection {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
}
.mySkills {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    padding-bottom: 25px;
    flex-wrap: wrap;
}
.skillsPara {
    padding-bottom: 40px;
}
.progBar {
    margin: 14px;
}
.progress {
    width: 368px !important;
    height: 36px !important;
    border-radius: 16px !important;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.progress-bar {
    text-indent: 20%;
    background-color:#BCD2EB;
    font-size: large;
    color: #7A7A7A !important;
    font-weight: bold;
}
.badgesPara {
    padding-bottom: 20px;
    padding-top: 40px;
}
.bling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.certShield {
    width: 324px;
    height: auto;
}
.myPrinc {
    display: flex;
    padding: 0px 24px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px;
    align-self: stretch;
    flex-wrap: wrap;
}
.princBox {
    display: flex;
    width: 380px;
    align-items: flex-start;
    gap: 24px;
}
h5 {
    color: #6F869E;
    font-family: Tahoma;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline; 
}
.princState {
    color: #7a7a7a;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 27px;
    flex-wrap: wrap;
    padding-top: 102px;
}
.rectangleF {
    width: fill;
    height: 4px;
    background: #BCD2EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 64px;
}

* {box-sizing:border-box}

.slideshow-container {
    max-width: 560px;
    height: auto;
    position: relative;
    margin: auto;
    display: flex;
}
.mySlides {
    max-height: 480px;
    width: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color:#c177c7;
}
.text {
    color: #f2f2f2;
    font-size: 24px;
    padding: 16px 12px;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    display: none;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #ffa015;
}
.g-fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.dotTrack {
    text-align: center;
    padding: 8px;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}